.App {
  max-width: 900px;
  margin: 10px auto;
}

.App h1 {
  color: #050301;
  font-weight: 700;
  opacity: 0.7;
}

.App footer {
  padding-bottom: 20px;
}

.App a {
  font-weight: 600;
  font-style: italic;
  color: #050301;
}

.App a:hover {
  color: blue;
}

@media (max-width: 760px) {
  .App h1 {
    font-size: 28px;
  }

  .App footer {
    font-size: 14px;
  }
}
