.Definitions p {
  color: #060606;
  line-height: 1.5;
}

.Definitions .Example {
  font-style: italic;
  opacity: 0.7;
}

.Definitions ul {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
  background-color: #dbd7e0;
  padding: 4px 6px;
  border-radius: 4px;
  font-weight: 400;
}

@media (max-width: 760px) {
  .Definitions p {
    font-size: 14px;
  }

  .Definitions li {
    font-size: 14px;
  }
}
