.Dictionary section {
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Dictionary h2 {
  color: #050301;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
}

.Dictionary input {
  width: 100%;
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid rgb(163, 159, 159);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Dictionary .Suggestion {
  color: #050301;
  opacity: 0.4;
  line-height: 1.5;
  font-style: italic;
  font-size: 14px;
  margin-top: 6px;
}

@media (max-width: 760px) {
  .Dictionary h2 {
    font-size: 16px;
  }

  .Dictionary .Suggestion {
    font-size: 10px;
  }
}
