.SearchResults h3 {
  color: #050301;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.5;
  padding-top: 12px;
}

.SearchResults .PhoneticText {
  padding-left: 100px;
  font-size: 24px;
  font-weight: 600;
  opacity: 0.7;
}
